{% extends "posts/layout.html" %}

{% block content %}
    <h3 class="center-align red lighten-3">{{post.title}}</h3>
    <div class="card">
        <div class="card-content">
            {{post.body | safe }}
        </div>
        <div class="card-action">
            Author: {{ post.user }}
            <!-- {{ post.user.get_full_name }} -->
            <br>
            Date: {{post.created_at}}
        </div>
    </div>
    <a href="/posts" class="btn">Go Back</a>
    <a class="waves-effect waves-light btn href" href="{% url 'post_edit' pk=post.pk %}"><i class="material-icons left">edit</i>Edit</a>
{% endblock %}
